@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    background: #FCF4E1;

}

.fullscreen {
  min-height: 100vh;
  min-width: 100vw;
}


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.button-cta {
    width: 128px;
    height: 40px;
    background-color: transparent;
}

h2 {
    color: #dd614a;
    border: 1px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h3 {
    color: #C08497;
}

footer {
    width: 100%;
    height: 40px;
    border-top: 1px solid #DED5B4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #bc8da0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
}

.login-button {
    background-color: #00ED64;
    border: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}
